<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updating Password</title>
    <form action="http://127.0.0.1:5000/update" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
        <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
</head>
<body>

</body>
</html>